section img{
	width: 60px;
	border-radius: 50%;
}

html{
	font-family: sans-serif;
}

h1{
	font-size: 30px;
}

h2{
	text-transform: uppercase;
}

.aack li{
	border: solid blue 1px;
}

.yellow{
	color: yellow;

}

.stay li{
	background-color: green;
}

section li{
	margin-left: 10px;
	list-style: none;
	letter-spacing: 4px;
}

h4 ~ p{
	text-align: center;
	color: black; 
}

